/*
 Theme Name : Landing Multiple Properties
 Theme URI : https: //www.indohotels.group/indohotels-landing-child/
 Description: Landing Multiple Properties Theme
 Author:       Amri K
 Author URI:   http://amrikarisma.com
 Version:      0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, one-columns, responsive-layout, accessibility-ready
*/

html {
  height: 100%;
}
body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


.landing {
  height: 100%;
  position: relative;
}

.landing:before {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    display: block;
    height: 100%;
    content: "";
    position: absolute;
}

.landing h4 {
    margin-top: 50px
}

.landing .box {
    padding: 10px;
    border: 2px solid #338823;
    border-radius: 5px;
    margin: 3px;
    margin-bottom: 30px
}

.landing .box,
.landing .box a {
    position: relative;
    overflow: hidden
}

.landing .box a {
    display: block;
    padding-bottom: 56.25%
}

.landing .box a:before {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    display: block;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1
}

.landing .box a>img {
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: none;
    position: absolute;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .5s ease
}

.landing .box a:hover>img {
    width: 110%
}

.landing .box .box_content {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: #fff;
    text-align: center
}

.landing .wrap {
    margin-top: 15%
}

.landing .img-logo {
    height: 50px;
    width: 150px;
    object-fit: contain
}

.form.booking {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  border: 2px solid #338823;
  border-radius: 5px;
  background: rgba(0,0,0,.3);
}

.form.booking p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media(max-width: 787px){
  .form.booking {
    width: 100%;
  }
}
